.room-list-container {
  position: relative;
  background-image: url('../src/assets/BlackCatBackground.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 0;
  overflow: hidden;
}

.room-list-container::before {
  content: '';
  position: absolute;
  top: -50px; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.room-card {
  position: relative;
  z-index: 2;
  animation: fadeInUp 0.8s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
